[Bb]in
[Oo]bj

# User-specific files
*.suo
*.user
*.sln.docstates
*.sln.GhostDoc.xml

*.[Cc]ache
*[Rr]esharper*
Bootstrap
packages
[Bb]uild
Temp
TestResults
Test
*.zip
*.nupkg
*.msi
*.chm
/Tools/ilmerge/
/Tools/MSBuildTasks/
/Tools/NUnit.Runners/
